<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../services/websocket.service.html">
<link rel="import" href="../services/websocket-component.html">

<dom-module id="detail-item">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <websocket-service
                id="getData"
                protocols="echo-protocol"
                url="ws://localhost:3100">
        </websocket-service>

        <!--<websocket-component-->
                <!--id="websocket"-->
                <!--url="ws://localhost:3100">-->
        <!--</websocket-component>-->
        {{items}}
        <div class="card">
            <div class="circle">1</div>
            <h1>View </h1>
            <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
            <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
        </div>

        <div class="card">
            <div class="circle">1</div>
            <h1>View </h1>
            <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
            <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
        </div>
    </template>

    <script src="detail-item.component.js"></script>
</dom-module>
